 @mixin clearFix{
     &::after{
         content: '';
         display: table;
         clear: both;
     }
 }

 @mixin center{
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
 }

//media query manager
/*
0 - 600px: Phone;
600px - 900px: Tablet portrait;
900px - 1200px: Tablet landscape;
1200px - 1800px: Is where our normal styles apply (desktop first aproach);
1800px + : Big screens;

$breakpoint argument choices:
- phone;
- tab-port;
- tab-land;
- big-desktop;

1em = 16px in media queries. It completily ignores our root font size in html selector. It's calculated based on browsers font size.

Order of media queries: Base + typography > general layout (header, footer, navigation and grid) > page layout (like _home.scss) > components
*/
@mixin respond($breakpoint) {

    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) { //600px
            @content;
        }
    }

    @if $breakpoint == tab-port {
        @media only screen and (max-width: 56.25em) { //900px
            @content;
        }
    }

    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) { //1200px
            @content;
        }
    }

    @if $breakpoint == popup {
        @media only screen and (max-width: 84.375em){ //1300px
            @content;
        }
    }

    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) { //1800px
            @content;
        }
    }
}