.row{
    max-width: $grid-width;
    background-color: #eee;
    margin: 0 auto;
    &:not(:last-child){
        margin-bottom: $gutter-vertical;
    }
    @include clearFix;
    .col-1-of-2{
        width: calc((100% - #{$gutter-horizontal})/2);
        background-color: red;
        float: left;
        &:not(:last-child){
            margin-right: $gutter-horizontal;
        }
    }
}
