.popup{
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: rgba($color-black, .8);
    top: 0;
    left: 0;
    z-index: 9998;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;

    &__content{
        @include center;
        width: 75%;
        background-color: $color-white;
        box-shadow: 0 2rem 4rem rgba($color-black, .2);
        border-radius: 3px;
        display: table;
        overflow: hidden;
        opacity: 0;
        transform: translate(-50%, -50%) scale(.5);
        transition: all .4s .2s;
    }

    &__left{
        width: 33.3333%;
        display: table-cell;
    }

    &__right{
        width: 66.6667%;
        display: table-cell;
        vertical-align: middle;
        padding: 3rem 5rem;
    }

    &__img{
        display: block;
        width: 100%;
    }

    &__text{
        font-size: 1.4rem;
        margin-bottom: 4rem;
        column-count: 2;
        hyphens: auto;
        column-gap: 10rem;
        column-rule: 1px solid $color-gray-light-2;
    }
    
    //open states
    &:target{
        opacity: 1;
        visibility: visible
    }

    &:target &__content{
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

    &__close{

        &:link,
        &:visited{
            color: $color-gray-dark;
            position: absolute;
            top: 2.5rem;
            right: 2.5rem;
            font-size: 3rem;
            text-decoration: none;
            display: inline-block;
            transition: all .2s;
        }

        &:hover{
            color: $color-primary;
        }
    }
}